<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard}">
<head>
    <title>Nuevo Cargo Estructural</title>
</head>
<body>
<main layout:fragment="dashboard_content">

    <div class="card shadow-sm border-0 rounded">

        <div class="card-header bg-transparent border-bottom-0 pt-3 pb-0">
            <h6 class="mb-0 fw-bold text-body text-uppercase">
                Nuevo Cargo Estructural
            </h6>
            <hr class="mt-3 mb-0 text-muted opacity-25">
        </div>

        <div class="card-body">

            <form th:action="@{/admin/cargos/guardar}" th:object="${cargo}" method="post">

                <div class="row">
                    <div th:replace="~{fragments/form_inputs :: select('cargoTipo', 'Tipo de Cargo', true, 'Seleccione el rol', 4, ~{::tipos})}">
                        <th:block th:fragment="tipos">
                            <option value="">Seleccione el rol...</option>
                            <option th:each="t : ${tipos}" th:value="${t.id}" th:text="${t.nombre}"></option>
                        </th:block>
                    </div>

                    <div th:replace="~{fragments/form_inputs :: select('curso', 'Curso Asignado', false, 'Seleccione en caso de que corresponda', 4, ~{::cursos})}">
                        <th:block th:fragment="cursos">
                            <option value="">Ninguno / No aplica</option>
                            <option th:each="c : ${cursos}" th:value="${c.id}" th:text="${c.getNombreCompleto()}"></option>
                        </th:block>
                    </div>

                    <div th:replace="~{fragments/form_inputs :: select('materia', 'Materia asignada', false, 'Seleccione en caso de que corresponda', 4, ~{::materias})}">
                        <th:block th:fragment="materias">
                            <option value="">Ninguna / No aplica</option>
                            <option th:each="m : ${materias}" th:value="${m.id}" th:text="${m.nombre + ' (' + m.ciclo + ')'}"></option>
                        </th:block>
                    </div>
                </div>

                <div class="col-lg-12 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary btn-block mt-4">
                        Guardar Cargo
                    </button>
                </div>

            </form>

        </div>
    </div>

</main>
</body>
</html>