<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Fichaje de Personal</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/styles.css}">
    </head>
    <body>
        <div class="container align-items-center m-0">
            <div class="row w-100">
                <div class="col-lg-6 p-3 justify-content-start align-items-start bg-white rounded shadow w-auto ajuste-exacto">
                    <table id="tabla-fichadas" class="table table-striped w-auto mt-0 mb-0">
                        <thead>
                        <tr>
                            <th style="width: 200px; white-space: nowrap;">AGENTE</th>
                            <th style="width: 50px; white-space: nowrap;">TIPO</th>
                            <th style="width: 80px; white-space: nowrap; text-align: center">HORA</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="fichada : ${ultimasQuince}">
                            <td th:text="${fichada.agente.apellido} + ', ' + ${fichada.agente.nombre}" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"></td>
                            <td th:text="${fichada.tipoFichada.identificador}" style="white-space: nowrap; text-align: center;"></td>
                            <td th:text="${#temporals.format(fichada.hora, 'dd/MM HH:mm')}" style="white-space: nowrap;"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-6 d-flex justify-content-center">
                    <div class="p-4 bg-white rounded shadow w-auto ajuste-exacto" >
                        <h3 class="text-center mb-4">Fichaje de Personal</h3>
                        <!-- Imagen del logo -->
                        <div class="text-center my-3">
                            <img th:src="@{/images/logo_nuevo_795.png}"
                                 alt="Logo"
                                 class="img-fluid rounded"
                                 style="max-height: 300px;">
                        </div>
                        <div class="text-center mb-3">
                            <h5><span id="hora-actual" class="fw-bold"></span></h5>
                        </div>
                        <div th:insert="~{fragments/toast.html}"></div>

                        <form th:action="@{/fichada}" method="POST" id="fichadaForm">
                            <div class="mb-3">
                                <label for="dni" class="form-label">DNI/CUIL/CUIT</label>
                                <input type="text" class="form-control" id="dni" name="dni" autocomplete="off" required>
                            </div>

                            <button type="submit" class="btn btn-primary w-100" id="ficharBtn">FICHAR</button>

                            <button class="btn btn-primary w-100" type="button" disabled id="loadingBtn" style="display: none;">
                                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                                <span role="status">Cargando...</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script>
            function actualizarHora() {
                const ahora = new Date();
                const horas = String(ahora.getHours()).padStart(2, '0');
                const minutos = String(ahora.getMinutes()).padStart(2, '0');
                const dia = String(ahora.getDate()).padStart(2, '0');
                const mes = String(ahora.getMonth() + 1).padStart(2, '0');
                const año = String(ahora.getFullYear()).slice(-2);

                document.getElementById('hora-actual').textContent =
                    `${horas}:${minutos} - ${dia}/${mes}/${año}`;
            }

            actualizarHora();
            setInterval(actualizarHora, 1000);

            document.getElementById('fichadaForm').addEventListener('submit', function() {
                document.getElementById('ficharBtn').style.display = 'none';
                document.getElementById('loadingBtn').style.display = 'block';
            });

            
            document.addEventListener("DOMContentLoaded", function () {
                const dniInput = document.getElementById("dni");
            
                dniInput.addEventListener("keydown", function (event) {
                    if (event.key === "Enter") {
                        setTimeout(() => {
                            dniInput.focus();
                            dniInput.value = ""; // Limpiar el campo después del envío
                        }, 100);
                    }
                });
            
                window.addEventListener("load", function () {
                    dniInput.focus(); // Asegurar que el input tenga el foco tras la recarga
                });
            });
        </script>
    </body>
</html>
