<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard}">
<head>
    <title>Nuevo Tipo de Fichada</title>
</head>
<body>

<main layout:fragment="dashboard_content">

    <div class="card shadow-sm ">

        <div class="card-header bg-transparent border-bottom-0 pt-3 pb-0">
            <h6 class="mb-0 fw-bold text-body text-uppercase">
                Crear Tipo de Fichada
            </h6>
            <hr class="mt-3 mb-0 text-muted opacity-25">
        </div>

        <div class="card-body">

            <form th:action="@{/fichada/crearTipoFichada}" method="POST">

                <div class="row">
                    <div class="col-md-6 form-group mb-3">
                        <label class="font-weight-bold" for="identificador">Identificador <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="identificador" name="identificador" placeholder="Ej: E, S" maxlength="1" required>
                        <small class="form-text text-muted">Letra o código único (Ej: 'E' para Entrada).</small>
                    </div>

                    <div class="col-md-6 form-group mb-3">
                        <label class="font-weight-bold" for="nombre">Nombre <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ej: ENTRADA, SALIDA" required>
                    </div>
                </div>

                <div class="col-lg-12 d-flex justify-content-center">
                    <button type="submit" class="btn btn-success btn-block mt-4">
                        Confirmar Tipo
                    </button>
                </div>

            </form>

        </div>
    </div>

</main>
</body>
</html>