<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard}">
<head>
    <meta charset="UTF-8">
    <title>Crear Agente</title>
</head>
<body>
<main layout:fragment="dashboard_content">
    <div class="card shadow-sm justify-content-center mb-4">
        <div class="card-header bg-transparent border-bottom-0 pt-3 pb-0">
            <h6 class="mb-0 fw-bold text-body text-uppercase">
                <i class="bi bi-person-plus me-2"></i>Crear Nuevo Agente
            </h6>
            <hr class="mt-3 mb-0 text-muted opacity-25">
        </div>

        <div class="card-body">
            <!-- El formulario limpio, sin alertas arriba, vinculado al DTO -->
            <form th:action="@{/agentes/crearAgente}" th:object="${agenteDTO}" method="post" enctype="multipart/form-data">

                <div class="row">
                    <div th:replace="~{fragments/form_inputs :: texto('nombre', 'Nombre', 'Ej: Juan Hernesto', true, 'Tal como figura en DNI', 3)}"></div>

                    <div th:replace="~{fragments/form_inputs :: texto('apellido', 'Apellido', 'Ej: Perez', true, 'Tal como figura en DNI', 3)}"></div>

                    <div th:replace="~{fragments/form_inputs :: numero('dni', 'Número de DNI', '', true, 'Sin puntos ni guiones', 3)}"></div>

                    <div th:replace="~{fragments/form_inputs :: numero('cuil', 'Número CUIL/CUIT', '', true, 'Sin puntos ni guiones', 3)}"></div>
                </div>
                <div class="col-12 mt-4 d-flex justify-content-center">
                    <button type="submit" class="btn btn-success btn-sm fw-semibold">Guardar Agente</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Botón para volver al listado -->
    <div class="card mt-5">
        <div class="card-body d-flex justify-content-center">
            <a th:href="@{/agentes/}" class="btn btn-sm btn-primary fw-semibold">
                Volver
            </a>
        </div>
        </div>
    </div>
</main>
</body>
</html>