<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard}">
<head>
    <title>Nuevo Tipo de Fichada</title>
</head>
<body>

<main layout:fragment="dashboard_content">

    <div class="card shadow-sm ">

        <div class="card-header bg-transparent border-bottom-0 pt-3 pb-0">
            <h6 class="mb-0 fw-bold text-body text-uppercase">
                Crear Tipo de Fichada
            </h6>
            <hr class="mt-3 mb-0 text-muted opacity-25">
        </div>

        <div class="card-body">

            <form th:action="@{/fichada/crearTipoFichada}" th:object="${tipoFichada}" method="POST">

                <div class="row">
                    <div th:replace="~{fragments/form_inputs :: texto('identificador', 'Identificador', 'Ej: E para Entrada, S para Salida', true, 'Letra o código único', 3)}"></div>

                    <div th:replace="~{fragments/form_inputs :: texto('nombre', 'Nombre', 'Ej: ENTRADA, SALIDA', true, null, 3)}"></div>
                </div>

                <div th:replace="~{fragments/form_inputs :: botonera(null)}"></div>

            </form>

        </div>
    </div>

    <!-- Botón para volver al listado -->
    <div class="card mt-5">
        <div class="card-body d-flex justify-content-center">
            <a th:href="@{/fichada/listarFichadas}" class="btn btn-sm btn-primary">
                Volver
            </a>
        </div>
    </div>

</main>
</body>
</html>