<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard}">
<head>
    <title>Editar Agente</title>
</head>
<body>

<main layout:fragment="dashboard_content">
    <div class="card shadow-sm">
        <div class="card-header pt-3 pb-0 border-bottom-0">
            <h6 class="fw-bold text-uppercase mb-0">
                Actualizar Datos de Agente
            </h6>
            <hr class="mt-3 mb-0 opacity-25">
        </div>

        <div class="card-body p-4">
            <form th:action="@{/agentes/actualizar}" th:object="${agente}" method="POST">
                <input type="hidden" th:field="*{id}">

                <div class="mb-4">
                    <h6 class="text-primary fw-bold small text-uppercase mb-3">Datos de Identidad</h6>
                    <div class="row g-3">
                        <div th:replace="~{fragments/form_inputs :: texto('apellido', 'Apellido', null, true, null, 3)}"></div>

                        <div th:replace="~{fragments/form_inputs :: texto('nombre', 'Nombre', null, true, null, 3)}"></div>

                        <div th:replace="~{fragments/form_inputs :: numero('dni', 'dni', null, true, null, 3)}"></div>

                        <div th:replace="~{fragments/form_inputs :: numero('cuil', 'cuil/cuit', null, true, null, 3)}"></div>

                    </div>
                    <hr class="mt-3 mb-0 opacity-25">
                </div>

                <div class="mb-4">
                    <h6 class="text-primary fw-bold small text-uppercase mb-3">Información Personal y Contacto</h6>
                    <div class="row g-3">

                        <div th:replace="~{fragments/form_inputs :: fecha('fechaNacimiento', 'fecha de nacimiento', true, null, 3)}"></div>

                        <div th:replace="~{fragments/form_inputs :: texto('domicilio', 'domicilio', 'Calle, número, localidad', true, null, 5)}"></div>

                        <div th:replace="~{fragments/form_inputs :: numero('telefono', 'telefono', 'Ej: 2804123456', true, null, 4)}"></div>

                        <div th:replace="~{fragments/form_inputs :: texto('email', 'correo electronico', 'nombre@ejemplo.com', true, null, 6)}"></div>

                        <div th:replace="~{fragments/form_inputs :: texto('titulo', 'Título', 'Ej: Profesor de Matemática', true, null, 6)}"></div>

                    </div>
                    <hr class="mt-3 mb-0 opacity-25">
                </div>

                <div class="mb-4">
                    <h6 class="text-primary fw-bold small text-uppercase mb-3">Información Administrativa</h6>
                    <div class="row g-3">
                        <div th:replace="~{fragments/form_inputs :: texto('numeroLegajo', 'numero de legajo', null, true, null, 4)}"></div>

                        <div th:replace="~{fragments/form_inputs :: fecha('fechaIngreso', 'fecha de ingreso', true, 'Fecha en la que comienza sus actividades', 4)}"></div>

                        <div th:replace="~{fragments/form_inputs :: checkbox('activo', 'Agente activo', null, 4)}"></div>

                    </div>
                </div>

                <div th:replace="~{fragments/form_inputs :: botonera(null)}"></div>

            </form>
        </div>
    </div>

    <div class="card mt-5">
        <div class="card-body d-flex justify-content-center">
            <a th:href="@{/agentes/ver/{id}(id=${agente.id})}" class="btn btn-sm btn-outline-secondary">
                Volver
            </a>
        </div>
    </div>

</main>

</body>
</html>