<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard}">

<head>
  <title>Tablón</title>
</head>
<body>

<!-- Llenamos el hueco de dashboard.html -->
<main layout:fragment="dashboard_content">

  <div class="card shadow-sm border-0 rounded-3">
    <div class="card-body">
      <h5 class="card-title text-primary">Próximamente... tablón.</h5>
      <hr>
      <p class="card-text">
        (Certificados/articulos, "Tomaron horas" y "Horas Sin Cubrir")
      </p>
    </div>
  </div>

</main>

</body>
</html>