<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard}">
    <head>
        <title>Informe de Asistencia Mensual</title>
    </head>

    <body>
        <main layout:fragment="content">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="card-title mb-3">Listado</h4>
                    <hr>
                    <div class="table-responsive" style="display: block; white-space: nowrap;">
                        <table class="table table-striped";>
                            <thead>
                            <tr>
                                <th>Agente</th>
                                <th th:each="dia : ${diasHabiles}"
                                    th:text="${#temporals.format(dia, 'dd/MM')}">
                                    Día
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="registro : ${informe}" th:with="agente=${registro.agente}">
                                <td th:text="${agente.apellido?.toUpperCase() + ', ' + agente.nombre?.toUpperCase()}">
                                    Nombre Agente
                                </td>
                                <td th:each="dia : ${diasHabiles}">
                                    <!-- Versión segura con manejo de nulos -->
                                    <span th:text="${registro.getAsistenciaPorDia(dia).orElse(null)?.estado ?: 'Sin datos'}"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>