<div th:fragment="sidebar" id="sidebar-wrapper" class="border-end shadow-sm">
    <!-- Altura reducida a 48px y texto un poco más chico -->
    <div class="px-3 border-bottom text-body d-flex align-items-center" style="height: 48px;">
        <i class="bi bi-mortarboard-fill text-primary"></i>
        <span class="menu-text fw-bold ms-2" style="font-size: 0.9rem;">Gestión Escolar</span>
    </div>
    <div class="list-group list-group-flush mt-1">
        <a th:href="@{/dashboard}" class="list-group-item list-group-item-action bg-transparent text-body">
            <i class="bi bi-house-door text-primary"></i>
            <span class="menu-text">Inicio</span>
        </a>
        <a th:href="@{/agentes/}" class="list-group-item list-group-item-action bg-transparent text-body">
            <i class="bi bi-people text-primary"></i>
            <span class="menu-text">Agentes</span>
        </a>
        <a th:href="@{/fichada/listarFichadas}" class="list-group-item list-group-item-action bg-transparent text-body">
            <i class="bi bi-list-check text-primary"></i>
            <span class="menu-text">Fichadas</span>
        </a>
        <a th:href="@{/admin}" class="list-group-item list-group-item-action bg-transparent text-body">
            <i class="bi bi-shield-lock text-primary"></i>
            <span class="menu-text">Admin</span>
        </a>
    </div>
</div>