<!-- Fragmento del sidebar -->
<div th:fragment="sidebar" class="sidebar text-white p-3" style="width: 250px; min-height: 100vh; background-color: #FFD8A6;">
    <!-- Botón para colapsar -->
    <div class="text-start mb-3">
        <button id="toggle-sidebar" class="btn btn-sm btn-light">
            <i class="fas fa-bars"></i>
        </button>
    </div>

    <hr style="color: #5A5A5A;">

    <ul class="nav flex-column text-start ">
        <li class="nav-item mb-2">
            <a th:href="@{/dashboard}" class="nav-link text-white hover-effect">
                <i class="fas fa-home me-2"></i> <span class="menu-label">Inicio</span>
            </a>
        </li>

        <li class="nav-item mb-2">
            <a th:href="@{/agentes/}" class="nav-link text-white hover-effect">
                <i class="fas fa-users me-2"></i> <span class="menu-label">Agentes</span>
            </a>
        </li>

        <li class="nav-item mb-2">
            <a th:href="@{/fichada/listarFichadas}" class="nav-link text-white hover-effect">
                <i class="fas fa-list me-2"></i> <span class="menu-label">Fichadas</span>
            </a>
        </li>

        <li class="nav-item mb-2">
            <a href="#" class="nav-link text-white hover-effect">
                <i class="fas fa-cog me-2"></i> <span class="menu-label">Configuración</span>
            </a>
        </li>

        <li class="nav-item mb-2">
            <a th:href="@{/admin}" class="nav-link text-white hover-effect">
                <i class="fa-solid fa-crown me-2"></i> <span class="menu-label">Admin</span>
            </a>
        </li>
    </ul>
</div>